# ignore pycache
# Python bytecode files
__pycache__/
*.pyc
arucos/arucos_pdf.pdf
*/__pycache__/
*.pyc

#ignore version
=4.8.0.76
4.8.0.76
=2.0.0

# venv
robot/
venv_*/
# CMake build files
build/
CMakeCache.txt
CMakeFiles/
Makefile


#pyenv configs
setuptools_version.txt
.python-version

